<div class="wrapper">
    <aside class="main_sidebar">
        <ul class="list-unstyled">
            <li>
                <fa-icon icon="home"></fa-icon>
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li>
                <fa-icon icon="home"></fa-icon>
                <a [routerLink]="['/customer']">Customer Desk</a>
            </li>
            <li>
                <i class="fa fa-info-circle"></i>
                <a [routerLink]="['/service/information']">Information Services</a>
            </li>
            <li>
                <i class="fa  fa-tachometer"></i>
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-bell"></i>
                <a [routerLink]="['/notification']">Notification</a>
            </li>
        </ul>
    </aside>
</div>